* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  @apply bg-gray-50;
}

body {
  @apply xl:pl-80;

  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body.noscroll {
  @apply overflow-hidden xl:overflow-auto;
}

/* Anchor Base Styles */
a {
  @apply transition-colors duration-200 ease-in-out;
}

a:hover,
a:focus {
  @apply text-brand;
}

/* HR Base Styles */
hr,
.hr {
  @apply border-t;
  @apply w-full;
}

/* Form Field */
/* TODO: Put in component? */
.form-field h3 {
  @apply mb-4 text-2xl;
}
